/* Header Items */
header a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
}

#headerTimer {
    position: absolute;
    right: 50px;
    font-size: 20px;
}

/* Main area */
main {
    width: 75%;
    margin: 150px auto;
    text-align: center;
}

main h1 {
    font-size: 60px;
    font-family: 'Gill Sans', sans-serif;
}

main h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#startBtn {
    margin-top: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

#startBtn:hover {
    background-color: darkmagenta;
}

/* List items during the quiz */
li {
    border-radius: 15px;
    background-color: #4B0082;
    color: white;
    font-size: 30px;
    list-style: none;
    text-align:left;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 25%;
}

li:hover {
    cursor: pointer;
    background-color: #E0B0FF;
    color: black;
}

/* High Scores List Items */
#recordItem {
    cursor: default;
    background-color: #E0B0FF;
    color: black;
}